*{
      margin: 0;
      padding: 0;
}

body{
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100vw;
}

header{
      color: rgb(238, 135, 10);
      padding: 20px;
      margin-top: -40px;
}

h4{
      text-align: center;
      margin-bottom: 10px;
      color: blue;
}
td,th{
      border: 2px solid #c91c1c;
      padding: 10px;
      text-align: center;
}
table{
      border: 2px solid #c91c1c;
      border-collapse: collapse;
}
#ox{
      background-color: #c91c1c;
      color: #fff;
      text-align: center;
      padding: 20px;
      font-size: 24px;
      margin-bottom: 20px;
      padding: 80px;
      
}